<div style="text-align:center;">
    <div class="aboutNewchild">
        <a href="@Url.RouteUrl("ShowBook", new { bookname="The New Child"})"><img alt="The New Child" src="~/Content/images/img_thenewchild.jpg" style="height:100px;" /></a>
    </div>
    <div class="aboutBloodbath">
        <a href="@Url.RouteUrl("ShowBook", new { bookname="Bloodbath"})"><img alt="Bloodbath" src="~/Content/images/img_bloodbath.jpg" style="height:100px;" /></a>
    </div>
    <div class="aboutWow">
        <a href="@Url.RouteUrl("ShowBook", new { bookname="War Over Work"})"><img alt="War Over Work" src="~/Content/images/img_waroverwork.jpg" style="height:100px;" /></a>
    </div>
    <div class="aboutPatchwork">
        <a href="@Url.RouteUrl("ShowBook", new { bookname="The Patchwork Nation"})"><img alt="The Patchwork Nation" src="~/Content/images/img_thepatchworknation.jpg" style="height:100px;" /></a>
    </div>
    <div class="aboutMMM">
        <a href="@Url.RouteUrl("ShowBook", new { bookname="Men Mateship Marriage"})"><img alt="Men Mateship marriage" src="~/Content/images/img_menmateshipmarriage.jpg" style="height:100px;" /></a>
    </div>
</div>
