<div class="aboutHome">@Html.RouteLink(linkText: "Home", routeName: "Page", routeValues: new { page="Home"}, htmlAttributes: new { @class="hrefCustom" })</div>
<div class="aboutDon">@Html.RouteLink(linkText: "About Don", routeName: "Page", routeValues: new { page="AboutDon" }, htmlAttributes: new { @class="hrefCustom" })</div>
<div class="aboutPatricia">@Html.RouteLink(linkText: "About Patricia", routeName: "Page", routeValues: new { page="AboutPatricia" }, htmlAttributes: new { @class="hrefCustom" })</div>
<div class="aboutBooks">@Html.RouteLink(linkText: "Books", routeName: "Page", routeValues: new { page="Books" }, htmlAttributes: new { @class="hrefCustom" })</div>
<div class="aboutFilm">@Html.RouteLink(linkText: "Film Awards", routeName: "Page", routeValues: new { page="FilmAwards" }, htmlAttributes: new { @class="hrefCustom" })</div>
<div class="aboutSelectedArticles">@Html.RouteLink(linkText: "Selected Articles", routeName: "Page", routeValues: new { page="SelectedArticles" }, htmlAttributes: new { @class="hrefCustom" })</div>
<div class="aboutSelectedSpeeches">@Html.RouteLink(linkText: "World Summit", routeName: "Page", routeValues: new { page="SelectedSpeeches" }, htmlAttributes: new { @class="hrefCustom" })</div>
<div class="aboutContactUs">@Html.RouteLink(linkText: "Contact Us", routeName: "ContactUs", routeValues: new { }, htmlAttributes: new { @class="hrefCustom" })</div>

